<div class="form-background">
  <div class="form-container cocktail-form col-xs-6 col-sm-6 col-md-4 ">
    <%= simple_form_for(@cocktail) do |f| %>
      <% if @cocktail.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @cocktail.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :name, label: "Name of your cocktail?", error: 'A cocktail name is mandatory!' %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

      <%= f.button :submit, "Create Your Cocktail", id: "submit-btn" %>
    <% end %>
  </div>
</div>
